# Opensea api key
OPENSEA_API_KEY=

# PRIVATE_KEYS=key1,key2,key3
PRIVATE_KEYS=

# BOT TELEGRAM
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=

#RPC URL
RPC_URL_ETHEREUM=
RPC_URL_POLYGON=
RPC_URL_BASE=
RPC_URL_ARC=
RPC_URL_ROBINHOOD=
